@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #faf7f2;
    color: #2c221e;
  }

  h1, h2, h3, .font-serif-heading {
    font-family: 'Playfair Display', serif;
  }

  .font-script {
    font-family: 'Alex Brush', cursive;
  }
}

/* Custom Smooth Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f4efe6;
}
::-webkit-scrollbar-thumb {
  background: #c2ab99;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b6b53;
}
